@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Mochiy+Pop+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif; /* Default font set to Inter */
  background-size: cover;
  background-position: center;
}

.mochiy-pop-one-regular {
  font-family: 'Mochiy Pop One', sans-serif;
  color: white; /* Text color white */
  text-shadow: 1px 1px 2px black; /* Thin black outline */
}

/* Responsive design for mobile-first */
.container {
  padding: 16px;
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
  .container {
    padding: 32px;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* CSS for dynamically resizing font based on the container width */
.dynamic-font-size {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 5vw;
}

@media (min-width: 640px) {
  .dynamic-font-size {
    font-size: 3vw;
  }
}

@media (min-width: 1024px) {
  .dynamic-font-size {
    font-size: 2vw;
  }
}
